.head{
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: center;
}

a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 60%;
}

.menu{
    display: flex;
    width: 50%;
    margin: auto;
}

.menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.menu-item{
    font-weight: 500;
    font-size: 18px;
    color:black;
    margin: auto;
    border-radius: 20px;
    padding: 5px 10px;
}

.menu-item:hover{
    background-color: #CED5DA;
}

